<?xml version="1.0" ?>
<!--
  ~ /**
  ~  * Copyright © 2020 CGI. All rights reserved.
  ~  * See COPYING.txt for license details.
  ~  *
  ~  * @author    CGI <info.de@cgi.com>
  ~  * @copyright 2020 CGI
  ~  * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogRule\Controller\Adminhtml\Promo\Catalog\Save"
                type="Cgi\ProductRestriction\Controller\Rewrite\Adminhtml\Promo\Catalog\Save"/>

    <preference for="Magento\CatalogRule\Model\ResourceModel\Rule"
                type="Cgi\ProductRestriction\Model\Rewrite\ResourceModel\RestrictionRule"/>

    <preference for="Magento\CatalogRule\Controller\Adminhtml\Promo\Catalog\ApplyRules"
                type="Cgi\ProductRestriction\Controller\Rewrite\Adminhtml\Promo\Catalog\ApplyRules"/>

    <preference for="Magento\CatalogRule\Model\ResourceModel\Grid\Collection"
                type="Cgi\ProductRestriction\Model\Rewrite\ResourceModel\Grid\Collection"/>
</config>
